/ejemplos-clases-constructores-diagramas/ejemplo0/codigo/ManejoClases/build/
/ejemplos-clases-constructores-diagramas/ejemplo0/codigo/ManejoClases/nbproject/private/
/ejemplos-clases-constuctores-java/EjemploConstructores/nbproject/private/
/ejemplos-clases-constuctores-java/EjemploConstructores/build/
/ejemplos-clases-constuctores-java/ProblemasConstructores/nbproject/private/
/ejemplos-clases-constuctores-java/ProblemasConstructores/build/
